
.card{
    padding: 0;
}

.about-us-container{
    text-align: center;

}

.card > p{
    font-size: 80%;
}

@media (max-width: 1099px){
    .about-us-container > p{
        margin: 1rem;
    }
    .card > p{
        font-size: 70%;
    }
}


@media (min-width: 576px) and (max-width: 767px){
    .about-us-container{
        top: 50%;
        left: 50%;
        position: absolute;
        transform: translate(-50%, -60%);
    }

    .about-us-container > p{
        margin: 0;
    }
    .card > p{
        font-size: 65%;
    }
}


@media(max-width: 575px){
    #chief-container{
        margin-bottom: 3rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #chief-container > .card{
        width: 30vw;
        margin-bottom: 3rem;
    }

    #chief-container > .card > .outstanding-routes-img{
        width: 20vw;
    }



}
