.company-name{
    font-family: 'Pacifico', 'Arial';
    float:left;
    margin-left: 3rem;
    font-size: 3em;
    color: black;
}


.menu{
    float: right;
    margin-right: 3rem;
    margin-top: 1.5rem;
    display: grid;
    grid-template-columns: repeat(4, 10em);
}

.menu-link{
    margin-left: 2rem;
    color: black;
    text-decoration: none;
    align-self: center;
    justify-self: center;
}

.burger-menu{
    display: none;
}
@media (max-width: 767px) {   /* Tablet portrait*/
    .burger-menu{
        display: inline;
    }
    .menu{
        display: none;
    }
}