 .menu{
    margin-right: 3rem;
    margin-top: 1.5rem;
    height: 5rem;
}
.nav-container, .nav-container-login{
    float: right;
    display: grid;
    grid-template-columns: repeat(4, auto);

}

#header-login{
    display: flex;
    align-content: center;
    justify-content: space-between;
}

.company-name, .navbar-brand{
    font-family: 'Pacifico', 'Arial';
    float:left;
    margin-left: 3rem;
    font-size: 3em;
    color: black;
}

.header-icons{
    display: flex;
    justify-content: space-between;
    margin-right: 3rem;
    margin-top: 2rem ;
}

.collapse.in{
    display: flex !important;
    justify-content: end;
}

.nav-item{
    list-style: none;
}

.menu-link{
    margin-left: 2rem;
    color: black;
    text-decoration: none;
    align-self: center;
    justify-self: center;
    font-size: 2rem;

}

.navbar-nav > li > a{
    text-decoration: none;
}

.burger-menu{
    display: none;
}

#dropdownMenuLink{
    background-color: white;
    border: none;
}



@media (max-width: 767px) {   /* Tablet portrait*/
    .burger-menu{
        display: flex;
        justify-content: space-between;
    }



    .menu{
        display: none;
    }

    .navbar-toggler-icon {
        background-image: url("../media/menu.png");
        width: 2rem;
        height: 2rem;
        display: block;
    }

    .navbar-toggler{
        background-color: white;
        border: none;
    }
    .navbar-brand{
        font-size: 3rem !important;
    }

}