/*Index.html*/
#myCarousel {
    display: grid;

    object-fit: cover;

}

.carousel-inner{

    object-fit: cover;
}

@media (max-width: 1099px){ /*tablet landscape*/
    #myCarousel:after{
        content: "Discover our routes";
        font-weight: bold;
        text-align: center;
    }
    .carousel-inner, .carousel-control{
        display: none;
    }

    .content-container{
        padding-top: 3rem;
        display: flex;
        flex-direction: column;
    }

    .card{
        width: 20vw;
    }

    .outstanding-routes-img{
        width: 15vw;
        height: 20vh;
        object-fit: cover;
        margin-top: 1rem;
    }

}

@media (max-width: 767px){ /* Tablet portrait*/
    .carousel-inner, .carousel-control{
        display: grid;
        grid-column: 1;
        border-radius: 2rem;

    }

    #carousel {
        display: grid;

    }



}
