.login-header{
    width: 100%;
    height: 10rem;
}

.login-form{
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -60%);
}

.formContainer > .input_overlay{
    width: 30rem;
    height: 3rem;
    margin-bottom: 3rem;
    font-size: medium;
}

.formContainer > .input_overlay_submit{
    width: 10rem;
    height: 3rem;
}

@media (max-width: 767px) {
    .formContainer > .input_overlay {
        width: 55vw;
        height: 3rem;
        margin-bottom: 3rem;
        font-size: medium;
    }

}
@media (max-width: 575px){
    .formContainer > .input_overlay {
        width: 20rem;

    }
}
