.login-header{
    width: 100%;
    height: 10rem;
}

.login-form{
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -60%);
}

.formContainer > .input_overlay{
    width: 30rem;
    height: 6rem;
    margin-bottom: 3rem;
}

.formContainer > .input_overlay_submit{
    width: 20rem;
    height: 4rem;
}

.validation-text:focus:required:invalid{
    outline: indianred solid 1px;
}