.profileContainer{
    text-align: center;
    position:relative;
    width: 100%;
}

.profileContainer > img{
    height:15em;
    width:15em;
    border-radius: 50%;
}

.editImageContainer{
    position: absolute;
    height: 40%;
    width: 100%;
    top:30%;
}

.editImageContainer > input{
    height: 100%;
    width: auto;
}

.email_container{
    margin-top:5em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.email_element > img{

    object-fit: contain;
    height: 20px;
    margin-left:40px;
}

.email_element > input{
    outline: none;
    border: none;
    background: none;
}

.email_element {
    display:flex;
    align-items: center;
    justify-content: center;
    text-align: center;

}

.password_button{
    text-align: center;
    margin-top: 40px;
}

