.idea/shelf/Uncommitted_changes_before_Checkout_at_23_2_22,_10_51_[Default_Changelist]/shelved.patch
.idea/shelf/Uncommitted_changes_before_Checkout_at_23_2_22,_10_54_[Default_Changelist]/shelved.patch
.idea/shelf/Uncommitted_changes_before_Checkout_at_23_2_22,_10_54_[Default_Changelist]1/shelved.patch
.idea/shelf/Uncommitted_changes_before_Checkout_at_23_2_22,_11_00_[Changes]/shelved.patch
.idea/shelf/Uncommitted_changes_before_Checkout_at_23_2_22,_11_10_[Changes]/shelved.patch
.idea/shelf/Uncommitted_changes_before_Checkout_at_23_2_22__10_54__Default_Changelist_.xml
.idea/shelf/Uncommitted_changes_before_Checkout_at_23_2_22__11_00__Changes_.xml
.idea/shelf/Uncommitted_changes_before_Checkout_at_23_2_22__11_10__Changes_.xml
.idea/workspace.xml
