.image{
    width:250px;
    height:250px;
    border-radius: 50%;
}

.profile{
    text-align: center;
    position:relative;
    width: 100%;

}

.cover{
    position: absolute;
    height: 100%;
    width: 100%;
    top:30%;
}

.cover input{
    height: 40%;
    width: auto;
}

.btnImage{
    color: #900;
    border: 1px solid #900;
    font-weight: bold;
    width: 200px;
    height: 100px;
}

.btnImage img{
    vertical-align: middle;
}

